.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 23.20%;
    margin-right: 2rem;
}

@media (max-width: 768px) {
    .embla__slide {
        flex: 0 0 38%;
    }
}

@media (max-width: 576px) {
    .embla__slide {
        flex: 0 0 100%;
    }
}